{
  "$schema": "https://swc.rs/schema.json",
  "env": {
    "coreJs": "3.41",
    "mode": "usage",
    "targets": {
      "chrome": "133"
    }
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    }
  }
}
